Debug
info
Settings
*.db
*.opendb
*.ipch
.vs/IP_Calculator/v16/.suo
*.obj
Debug/IP_Calc.obj
Debug/IP_Calculator.log
Debug/Globals.obj
Debug/Globals.obj
Debug/Globals.obj
Debug/IP_Calc.obj
Debug/IP_Calculator.log
Debug/IP_Calculator.tlog/CL.command.1.tlog
Debug/IP_Calculator.tlog/CL.read.1.tlog
*.tlog
